Q1: Print Your Name with your Father Name and Date of Birth using escape sequence characters

In [1]:

print("Name:\tMuhammad Shayan\nFather's Name:\tMushtaq javed\nDate of Birth:\t15\\08\\2005")

Name:	Muhammad Shayan
Father's Name:	Mushtaq javed
Date of Birth:	15\08\2005

Q2: Write your small bio using variables and print it

In [2]:
name = "Ali Ahmed"
age = 20
education = "B.E. in Computer System Engineering"
hobby = "Gym and Programming"

print("My name is", name + ". I am", age, "years old.")
print("I am currently pursuing", education + ".")
print("My hobbies are", hobby + ".")

My name is Ali Ahmed. I am 20 years old.
I am currently pursuing B.E. in Computer System Engineering.
My hobbies are Gym and Programming.

Q3: Write a program using all types of operators

In [ ]:
a = 10
b = 3

# Arithmetic Operators
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponent:", a ** b)

# Comparison Operators
print("a == b:", a == b)
print("a != b:", a != b)
print("a > b:", a > b)
print("a < b:", a < b)
print("a >= b:", a >= b)
print("a <= b:", a <= b)

# Logical Operators
x = True
y = False
print("x and y:", x and y)
print("x or y:", x or y)
print("not x:", not x)

# Assignment Operators
a += 2
print("After a += 2:", a)
a *= 2
print("After a *= 2:", a)

# Bitwise Operators
print("a & b:", a & b)
print("a | b:", a | b)
print("a ^ b:", a ^ b)
print("~a:", ~a)
print("a << 1:", a << 1)
print("a >> 1:", a >> 1)

Q4: Marks, Total, and Percentage Calculation

In [ ]:
english = 85
islamiat = 90
maths = 95
total_marks = 300

obtained_marks = english + islamiat + maths
percentage = (obtained_marks / total_marks) * 100

print("Obtained Marks:", obtained_marks, "/", total_marks)
print("Percentage:", percentage, "%")